## Read Database and find dates with temperature difference of 10 degrees.

In [1]:
import pandas as pd
import sqlite3

In [2]:
df = pd.read_csv("weatherHistory.csv")

In [3]:
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [4]:
df['Temperature (F)'] = df['Temperature (C)'] * 1.8 + 32

In [5]:
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Temperature (F)
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,49.05
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,48.84
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,48.88
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,46.92
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,47.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.,78.83
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.,76.25
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.,71.67
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.,70.74
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.,68.79

In [6]:
df1 = df[["Formatted Date", "Temperature (F)"]]

In [7]:
df1

                      Formatted Date  Temperature (F)
0      2006-04-01 00:00:00.000 +0200            49.05
1      2006-04-01 01:00:00.000 +0200            48.84
2      2006-04-01 02:00:00.000 +0200            48.88
3      2006-04-01 03:00:00.000 +0200            46.92
4      2006-04-01 04:00:00.000 +0200            47.76
...                              ...              ...
96448  2016-09-09 19:00:00.000 +0200            78.83
96449  2016-09-09 20:00:00.000 +0200            76.25
96450  2016-09-09 21:00:00.000 +0200            71.67
96451  2016-09-09 22:00:00.000 +0200            70.74
96452  2016-09-09 23:00:00.000 +0200            68.79

[96453 rows x 2 columns]

In [8]:
conn = sqlite3.connect("weather.db")

In [9]:
df1.to_sql('info', conn,if_exists='replace')

C:\Users\Void\anaconda3\lib\site-packages\pandas\core\generic.py:2779: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [10]:
cur = conn.execute("select * from info;")

In [11]:
cur.fetchall()

[(0, '2006-04-01 00:00:00.000 +0200', 49.05),
 (1, '2006-04-01 01:00:00.000 +0200', 48.84),
 (2, '2006-04-01 02:00:00.000 +0200', 48.88),
 (3, '2006-04-01 03:00:00.000 +0200', 46.92),
 (4, '2006-04-01 04:00:00.000 +0200', 47.76),
 (5, '2006-04-01 05:00:00.000 +0200', 48.599999999999994),
 (6, '2006-04-01 06:00:00.000 +0200', 45.92),
 (7, '2006-04-01 07:00:00.000 +0200', 47.79),
 (8, '2006-04-01 08:00:00.000 +0200', 51.48),
 (9, '2006-04-01 09:00:00.000 +0200', 56.78999999999999),
 (10, '2006-04-01 10:00:00.000 +0200', 60.83),
 (11, '2006-04-01 11:00:00.000 +0200', 62.86),
 (12, '2006-04-01 12:00:00.000 +0200', 64.04),
 (13, '2006-04-01 13:00:00.000 +0200', 63.2),
 (14, '2006-04-01 14:00:00.000 +0200', 65.98),
 (15, '2006-04-01 15:00:00.000 +0200', 66.04),
 (16, '2006-04-01 16:00:00.000 +0200', 59.7),
 (17, '2006-04-01 17:00:00.000 +0200', 59.99000000000001),
 (18, '2006-04-01 18:00:00.000 +0200', 57.66),
 (19, '2006-04-01 19:00:00.000 +0200', 55.66),
 (20, '2006-04-01 20:00:00.000 +0200', 52.790000000000006),
 (21, '2006-04-01 21:00:00.000 +0200', 52.13),
 (22, '2006-04-01 22:00:00.000 +0200', 50.21),
 (23, '2006-04-01 23:00:00.000 +0200', 50.36),
 (24, '2006-04-10 00:00:00.000 +0200', 50.76),
 (25, '2006-04-10 01:00:00.000 +0200', 49.84),
 (26, '2006-04-10 02:00:00.000 +0200', 52.13),
 (27, '2006-04-10 03:00:00.000 +0200', 44.88),
 (28, '2006-04-10 04:00:00.000 +0200', 43.0),
 (29, '2006-04-10 05:00:00.000 +0200', 44.22),
 (30, '2006-04-10 06:00:00.000 +0200', 45.07),
 (31, '2006-04-10 07:00:00.000 +0200', 46.04),
 (32, '2006-04-10 08:00:00.000 +0200', 49.77),
 (33, '2006-04-10 09:00:00.000 +0200', 54.0),
 (34, '2006-04-10 10:00:00.000 +0200', 59.17000000000001),
 (35, '2006-04-10 11:00:00.000 +0200', 63.24000000000001),
 (36, '2006-04-10 12:00:00.000 +0200', 66.20999999999998),
 (37, '2006-04-10 13:00:00.000 +0200', 68.07999999999998),
 (38, '2006-04-10 14:00:00.000 +0200', 69.89),
 (39, '2006-04-10 15:00:00.000 +0200', 70.13),
 (40, '2006-04-10 16:00:00.000 +0200', 68.20999999999998),
 (41, '2006-04-10 17:00:00.000 +0200', 68.39),
 (42, '2006-04-10 18:00:00.000 +0200', 68.0),
 (43, '2006-04-10 19:00:00.000 +0200', 64.04),
 (44, '2006-04-10 20:00:00.000 +0200', 60.91),
 (45, '2006-04-10 21:00:00.000 +0200', 59.03999999999999),
 (46, '2006-04-10 22:00:00.000 +0200', 57.96000000000001),
 (47, '2006-04-10 23:00:00.000 +0200', 57.66),
 (48, '2006-04-11 00:00:00.000 +0200', 56.78999999999999),
 (49, '2006-04-11 01:00:00.000 +0200', 55.91),
 (50, '2006-04-11 02:00:00.000 +0200', 47.54),
 (51, '2006-04-11 03:00:00.000 +0200', 52.25),
 (52, '2006-04-11 04:00:00.000 +0200', 52.13),
 (53, '2006-04-11 05:00:00.000 +0200', 51.25),
 (54, '2006-04-11 06:00:00.000 +0200', 52.0),
 (55, '2006-04-11 07:00:00.000 +0200', 52.0),
 (56, '2006-04-11 08:00:00.000 +0200', 53.9),
 (57, '2006-04-11 09:00:00.000 +0200', 54.96),
 (58, '2006-04-11 10:00:00.000 +0200', 56.91),
 (59, '2006-04-11 11:00:00.000 +0200', 61.13),
 (60, '2006-04-11 12:00:00.000 +0200', 63.53),
 (61, '2006-04-11 13:00:00.000 +0200', 63.29),
 (62, '2006-04-11 14:00:00.000 +0200', 63.25),
 (63, '2006-04-11 15:00:00.000 +0200', 62.97),
 (64, '2006-04-11 16:00:00.000 +0200', 60.14),
 (65, '2006-04-11 17:00:00.000 +0200', 56.44),
 (66, '2006-04-11 18:00:00.000 +0200', 51.64),
 (67, '2006-04-11 19:00:00.000 +0200', 47.84),
 (68, '2006-04-11 20:00:00.000 +0200', 48.13),
 (69, '2006-04-11 21:00:00.000 +0200', 46.76),
 (70, '2006-04-11 22:00:00.000 +0200', 45.84),
 (71, '2006-04-11 23:00:00.000 +0200', 45.98),
 (72, '2006-04-12 00:00:00.000 +0200', 46.76),
 (73, '2006-04-12 01:00:00.000 +0200', 46.72),
 (74, '2006-04-12 02:00:00.000 +0200', 45.16),
 (75, '2006-04-12 03:00:00.000 +0200', 45.76),
 (76, '2006-04-12 04:00:00.000 +0200', 43.92),
 (77, '2006-04-12 05:00:00.000 +0200', 44.03),
 (78, '2006-04-12 06:00:00.000 +0200', 42.96),
 (79, '2006-04-12 07:00:00.000 +0200', 42.92),
 (80, '2006-04-12 08:00:00.000 +0200', 43.06),
 (81, '2006-04-12 09:00:00.000 +0200', 44.84),
 (82, '2006-04-12 10:00:00.000 +0200', 44.97),
 (83, '2006-04-12 11:00:00.000 +0200', 45.62),
 (84, '2006-04-12 12:00:00.000 +0200', 48.02),
 (85, '2006-04-12 13:00:00.000 +0200', 49.93000000000001),
 (86, '2006-04-12 14:00:00.000 +0200', 49.8),
 (87, '2006-04-12 15:00:00.000 +0200', 51.92),
 (88, '2006-04-12 16:00:00.000 +0200', 50.21),
 (89, '2006-04-12 17:00:00.000 +0200', 51.87),
 (90, '2006-04-12 18:00:00.000 +0200', 51.17),
 (91, '2006-04-12 19:00:00.000 +0200', 50.09),
 (92, '2006-04-12 20:00:00.000 +0200', 49.82),
 (93, '2006-04-12 21:00:00.000 +0200', 47.83),
 (94, '2006-04-12 22:00:00.000 +0200', 46.09),
 (95, '2006-04-12 23:00:00.000 +0200', 46.14),
 (96, '2006-04-13 00:00:00.000 +0200', 45.17),
 (97, '2006-04-13 01:00:00.000 +0200', 45.04),
 (98, '2006-04-13 02:00:00.000 +0200', 41.79),
 (99, '2006-04-13 03:00:00.000 +0200', 44.96),
 (100, '2006-04-13 04:00:00.000 +0200', 44.04),
 (101, '2006-04-13 05:00:00.000 +0200', 43.18),
 (102, '2006-04-13 06:00:00.000 +0200', 43.0),
 (103, '2006-04-13 07:00:00.000 +0200', 43.0),
 (104, '2006-04-13 08:00:00.000 +0200', 43.11),
 (105, '2006-04-13 09:00:00.000 +0200', 45.0),
 (106, '2006-04-13 10:00:00.000 +0200', 45.12),
 (107, '2006-04-13 11:00:00.000 +0200', 45.33),
 (108, '2006-04-13 12:00:00.000 +0200', 46.33),
 (109, '2006-04-13 13:00:00.000 +0200', 46.46),
 (110, '2006-04-13 14:00:00.000 +0200', 48.34),
 (111, '2006-04-13 15:00:00.000 +0200', 48.290000000000006),
 (112, '2006-04-13 16:00:00.000 +0200', 48.290000000000006),
 (113, '2006-04-13 17:00:00.000 +0200', 48.53),
 (114, '2006-04-13 18:00:00.000 +0200', 48.33),
 (115, '2006-04-13 19:00:00.000 +0200', 46.37),
 (116, '2006-04-13 20:00:00.000 +0200', 46.53),
 (117, '2006-04-13 21:00:00.000 +0200', 46.21),
 (118, '2006-04-13 22:00:00.000 +0200', 45.16),
 (119, '2006-04-13 23:00:00.000 +0200', 45.21),
 (120, '2006-04-14 00:00:00.000 +0200', 43.92),
 (121, '2006-04-14 01:00:00.000 +0200', 42.92),
 (122, '2006-04-14 02:00:00.000 +0200', 47.01),
 (123, '2006-04-14 03:00:00.000 +0200', 41.33),
 (124, '2006-04-14 04:00:00.000 +0200', 38.7),
 (125, '2006-04-14 05:00:00.000 +0200', 40.74),
 (126, '2006-04-14 06:00:00.000 +0200', 41.38),
 (127, '2006-04-14 07:00:00.000 +0200', 43.26),
 (128, '2006-04-14 08:00:00.000 +0200', 46.03),
 (129, '2006-04-14 09:00:00.000 +0200', 50.09),
 (130, '2006-04-14 10:00:00.000 +0200', 53.96),
 (131, '2006-04-14 11:00:00.000 +0200', 54.86),
 (132, '2006-04-14 12:00:00.000 +0200', 57.08),
 (133, '2006-04-14 13:00:00.000 +0200', 59.17000000000001),
 (134, '2006-04-14 14:00:00.000 +0200', 59.27),
 (135, '2006-04-14 15:00:00.000 +0200', 61.120000000000005),
 (136, '2006-04-14 16:00:00.000 +0200', 61.25),
 (137, '2006-04-14 17:00:00.000 +0200', 61.33),
 (138, '2006-04-14 18:00:00.000 +0200', 60.98),
 (139, '2006-04-14 19:00:00.000 +0200', 55.32),
 (140, '2006-04-14 20:00:00.000 +0200', 56.93),
 (141, '2006-04-14 21:00:00.000 +0200', 55.0),
 (142, '2006-04-14 22:00:00.000 +0200', 53.870000000000005),
 (143, '2006-04-14 23:00:00.000 +0200', 51.22),
 (144, '2006-04-15 00:00:00.000 +0200', 50.8),
 (145, '2006-04-15 01:00:00.000 +0200', 49.68000000000001),
 (146, '2006-04-15 02:00:00.000 +0200', 51.85000000000001),
 (147, '2006-04-15 03:00:00.000 +0200', 44.85),
 (148, '2006-04-15 04:00:00.000 +0200', 45.72),
 (149, '2006-04-15 05:00:00.000 +0200', 45.73),
 (150, '2006-04-15 06:00:00.000 +0200', 44.68),
 (151, '2006-04-15 07:00:00.000 +0200', 47.48),
 (152, '2006-04-15 08:00:00.000 +0200', 49.370000000000005),
 (153, '2006-04-15 09:00:00.000 +0200', 53.79),
 (154, '2006-04-15 10:00:00.000 +0200', 55.0),
 (155, '2006-04-15 11:00:00.000 +0200', 56.86),
 (156, '2006-04-15 12:00:00.000 +0200', 60.83),
 (157, '2006-04-15 13:00:00.000 +0200', 62.83),
 (158, '2006-04-15 14:00:00.000 +0200', 62.86),
 (159, '2006-04-15 15:00:00.000 +0200', 64.0),
 (160, '2006-04-15 16:00:00.000 +0200', 64.0),
 (161, '2006-04-15 17:00:00.000 +0200', 64.05000000000001),
 (162, '2006-04-15 18:00:00.000 +0200', 61.08),
 (163, '2006-04-15 19:00:00.000 +0200', 57.290000000000006),
 (164, '2006-04-15 20:00:00.000 +0200', 55.56),
 (165, '2006-04-15 21:00:00.000 +0200', 54.12),
 (166, '2006-04-15 22:00:00.000 +0200', 55.0),
 (167, '2006-04-15 23:00:00.000 +0200', 54.91),
 (168, '2006-04-16 00:00:00.000 +0200', 54.08),
 (169, '2006-04-16 01:00:00.000 +0200', 53.08),
 (170, '2006-04-16 02:00:00.000 +0200', 51.49),
 (171, '2006-04-16 03:00:00.000 +0200', 53.96),
 (172, '2006-04-16 04:00:00.000 +0200', 53.96),
 (173, '2006-04-16 05:00:00.000 +0200', 53.04),
 (174, '2006-04-16 06:00:00.000 +0200', 52.17),
 (175, '2006-04-16 07:00:00.000 +0200', 52.04),
 (176, '2006-04-16 08:00:00.000 +0200', 52.59),
 (177, '2006-04-16 09:00:00.000 +0200', 55.46000000000001),
 (178, '2006-04-16 10:00:00.000 +0200', 63.04),
 (179, '2006-04-16 11:00:00.000 +0200', 63.93000000000001),
 (180, '2006-04-16 12:00:00.000 +0200', 64.12),
 (181, '2006-04-16 13:00:00.000 +0200', 65.95),
 (182, '2006-04-16 14:00:00.000 +0200', 65.6),
 (183, '2006-04-16 15:00:00.000 +0200', 64.08),
 (184, '2006-04-16 16:00:00.000 +0200', 64.04),
 (185, '2006-04-16 17:00:00.000 +0200', 63.23),
 (186, '2006-04-16 18:00:00.000 +0200', 60.92),
 (187, '2006-04-16 19:00:00.000 +0200', 58.88),
 (188, '2006-04-16 20:00:00.000 +0200', 57.06),
 (189, '2006-04-16 21:00:00.000 +0200', 54.96),
 (190, '2006-04-16 22:00:00.000 +0200', 54.96),
 (191, '2006-04-16 23:00:00.000 +0200', 54.27),
 (192, '2006-04-17 00:00:00.000 +0200', 52.13),
 (193, '2006-04-17 01:00:00.000 +0200', 53.0),
 (194, '2006-04-17 02:00:00.000 +0200', 48.16),
 (195, '2006-04-17 03:00:00.000 +0200', 51.03999999999999),
 (196, '2006-04-17 04:00:00.000 +0200', 50.96000000000001),
 (197, '2006-04-17 05:00:00.000 +0200', 51.06),
 (198, '2006-04-17 06:00:00.000 +0200', 49.97),
 (199, '2006-04-17 07:00:00.000 +0200', 51.84),
 (200, '2006-04-17 08:00:00.000 +0200', 56.37),
 (201, '2006-04-17 09:00:00.000 +0200', 57.0),
 (202, '2006-04-17 10:00:00.000 +0200', 59.0),
 (203, '2006-04-17 11:00:00.000 +0200', 62.93),
 (204, '2006-04-17 12:00:00.000 +0200', 61.16),
 (205, '2006-04-17 13:00:00.000 +0200', 63.95),
 (206, '2006-04-17 14:00:00.000 +0200', 65.13),
 (207, '2006-04-17 15:00:00.000 +0200', 64.08),
 (208, '2006-04-17 16:00:00.000 +0200', 63.16),
 (209, '2006-04-17 17:00:00.000 +0200', 63.50999999999999),
 (210, '2006-04-17 18:00:00.000 +0200', 63.08),
 (211, '2006-04-17 19:00:00.000 +0200', 59.25),
 (212, '2006-04-17 20:00:00.000 +0200', 55.85),
 (213, '2006-04-17 21:00:00.000 +0200', 54.129999999999995),
 (214, '2006-04-17 22:00:00.000 +0200', 51.25999999999999),
 (215, '2006-04-17 23:00:00.000 +0200', 49.74000000000001),
 (216, '2006-04-18 00:00:00.000 +0200', 49.14),
 (217, '2006-04-18 01:00:00.000 +0200', 47.13),
 (218, '2006-04-18 02:00:00.000 +0200', 55.42),
 (219, '2006-04-18 03:00:00.000 +0200', 45.92),
 (220, '2006-04-18 04:00:00.000 +0200', 43.05),
 (221, '2006-04-18 05:00:00.000 +0200', 43.65),
 (222, '2006-04-18 06:00:00.000 +0200', 43.93),
 (223, '2006-04-18 07:00:00.000 +0200', 47.64),
 (224, '2006-04-18 08:00:00.000 +0200', 53.59),
 (225, '2006-04-18 09:00:00.000 +0200', 56.78),
 (226, '2006-04-18 10:00:00.000 +0200', 59.16),
 (227, '2006-04-18 11:00:00.000 +0200', 61.620000000000005),
 (228, '2006-04-18 12:00:00.000 +0200', 63.16),
 (229, '2006-04-18 13:00:00.000 +0200', 64.17),
 (230, '2006-04-18 14:00:00.000 +0200', 66.27),
 (231, '2006-04-18 15:00:00.000 +0200', 66.16),
 (232, '2006-04-18 16:00:00.000 +0200', 66.20999999999998),
 (233, '2006-04-18 17:00:00.000 +0200', 66.22),
 (234, '2006-04-18 18:00:00.000 +0200', 64.16),
 (235, '2006-04-18 19:00:00.000 +0200', 63.08),
 (236, '2006-04-18 20:00:00.000 +0200', 61.14),
 (237, '2006-04-18 21:00:00.000 +0200', 58.79),
 (238, '2006-04-18 22:00:00.000 +0200', 57.78999999999999),
 (239, '2006-04-18 23:00:00.000 +0200', 58.120000000000005),
 (240, '2006-04-19 00:00:00.000 +0200', 57.870000000000005),
 (241, '2006-04-19 01:00:00.000 +0200', 58.78),
 (242, '2006-04-19 02:00:00.000 +0200', 50.72999999999999),
 (243, '2006-04-19 03:00:00.000 +0200', 55.08),
 (244, '2006-04-19 04:00:00.000 +0200', 55.040000000000006),
 (245, '2006-04-19 05:00:00.000 +0200', 55.09),
 (246, '2006-04-19 06:00:00.000 +0200', 54.08),
 (247, '2006-04-19 07:00:00.000 +0200', 54.08),
 (248, '2006-04-19 08:00:00.000 +0200', 53.93),
 (249, '2006-04-19 09:00:00.000 +0200', 53.91),
 (250, '2006-04-19 10:00:00.000 +0200', 54.88),
 (251, '2006-04-19 11:00:00.000 +0200', 60.09),
 (252, '2006-04-19 12:00:00.000 +0200', 60.84),
 (253, '2006-04-19 13:00:00.000 +0200', 62.96000000000001),
 (254, '2006-04-19 14:00:00.000 +0200', 62.99000000000001),
 (255, '2006-04-19 15:00:00.000 +0200', 64.09),
 (256, '2006-04-19 16:00:00.000 +0200', 64.09),
 (257, '2006-04-19 17:00:00.000 +0200', 63.92),
 (258, '2006-04-19 18:00:00.000 +0200', 61.29),
 (259, '2006-04-19 19:00:00.000 +0200', 55.7),
 (260, '2006-04-19 20:00:00.000 +0200', 55.86),
 (261, '2006-04-19 21:00:00.000 +0200', 55.42),
 (262, '2006-04-19 22:00:00.000 +0200', 54.42),
 (263, '2006-04-19 23:00:00.000 +0200', 54.48),
 (264, '2006-04-02 00:00:00.000 +0200', 49.2),
 (265, '2006-04-02 01:00:00.000 +0200', 51.120000000000005),
 (266, '2006-04-02 02:00:00.000 +0200', 47.7),
 (267, '2006-04-02 03:00:00.000 +0200', 50.96000000000001),
 (268, '2006-04-02 04:00:00.000 +0200', 49.0),
 (269, '2006-04-02 05:00:00.000 +0200', 49.8),
 (270, '2006-04-02 06:00:00.000 +0200', 50.66),
 (271, '2006-04-02 07:00:00.000 +0200', 48.0),
 (272, '2006-04-02 08:00:00.000 +0200', 49.96000000000001),
 (273, '2006-04-02 09:00:00.000 +0200', 53.96),
 (274, '2006-04-02 10:00:00.000 +0200', 57.13),
 (275, '2006-04-02 11:00:00.000 +0200', 58.900000000000006),
 (276, '2006-04-02 12:00:00.000 +0200', 61.13),
 (277, '2006-04-02 13:00:00.000 +0200', 61.46),
 (278, '2006-04-02 14:00:00.000 +0200', 63.27),
 (279, '2006-04-02 15:00:00.000 +0200', 63.81),
 (280, '2006-04-02 16:00:00.000 +0200', 63.9),
 (281, '2006-04-02 17:00:00.000 +0200', 61.23),
 (282, '2006-04-02 18:00:00.000 +0200', 57.32),
 (283, '2006-04-02 19:00:00.000 +0200', 57.120000000000005),
 (284, '2006-04-02 20:00:00.000 +0200', 54.12),
 (285, '2006-04-02 21:00:00.000 +0200', 50.03999999999999),
 (286, '2006-04-02 22:00:00.000 +0200', 48.88),
 (287, '2006-04-02 23:00:00.000 +0200', 48.95),
 (288, '2006-04-20 00:00:00.000 +0200', 53.28999999999999),
 (289, '2006-04-20 01:00:00.000 +0200', 51.370000000000005),
 (290, '2006-04-20 02:00:00.000 +0200', 53.88),
 (291, '2006-04-20 03:00:00.000 +0200', 49.41),
 (292, '2006-04-20 04:00:00.000 +0200', 46.67),
 (293, '2006-04-20 05:00:00.000 +0200', 50.36),
 (294, '2006-04-20 06:00:00.000 +0200', 50.21),
 (295, '2006-04-20 07:00:00.000 +0200', 50.29),
 (296, '2006-04-20 08:00:00.000 +0200', 52.24000000000001),
 (297, '2006-04-20 09:00:00.000 +0200', 54.04),
 (298, '2006-04-20 10:00:00.000 +0200', 57.04),
 (299, '2006-04-20 11:00:00.000 +0200', 60.11),
 (300, '2006-04-20 12:00:00.000 +0200', 59.13000000000001),
 (301, '2006-04-20 13:00:00.000 +0200', 59.13000000000001),
 (302, '2006-04-20 14:00:00.000 +0200', 57.68000000000001),
 (303, '2006-04-20 15:00:00.000 +0200', 60.83),
 (304, '2006-04-20 16:00:00.000 +0200', 59.050000000000004),
 (305, '2006-04-20 17:00:00.000 +0200', 57.1),
 (306, '2006-04-20 18:00:00.000 +0200', 55.25),
 (307, '2006-04-20 19:00:00.000 +0200', 55.21000000000001),
 (308, '2006-04-20 20:00:00.000 +0200', 54.32),
 (309, '2006-04-20 21:00:00.000 +0200', 54.08),
 (310, '2006-04-20 22:00:00.000 +0200', 54.0),
 (311, '2006-04-20 23:00:00.000 +0200', 52.25),
 (312, '2006-04-21 00:00:00.000 +0200', 52.75),
 (313, '2006-04-21 01:00:00.000 +0200', 52.77000000000001),
 (314, '2006-04-21 02:00:00.000 +0200', 48.99),
 (315, '2006-04-21 03:00:00.000 +0200', 52.59),
 (316, '2006-04-21 04:00:00.000 +0200', 52.51),
 (317, '2006-04-21 05:00:00.000 +0200', 52.75),
 (318, '2006-04-21 06:00:00.000 +0200', 53.50999999999999),
 (319, '2006-04-21 07:00:00.000 +0200', 53.55),
 (320, '2006-04-21 08:00:00.000 +0200', 54.74000000000001),
 (321, '2006-04-21 09:00:00.000 +0200', 54.96),
 (322, '2006-04-21 10:00:00.000 +0200', 56.92),
 (323, '2006-04-21 11:00:00.000 +0200', 55.71000000000001),
 (324, '2006-04-21 12:00:00.000 +0200', 59.120000000000005),
 (325, '2006-04-21 13:00:00.000 +0200', 63.04),
 (326, '2006-04-21 14:00:00.000 +0200', 61.370000000000005),
 (327, '2006-04-21 15:00:00.000 +0200', 63.29),
 (328, '2006-04-21 16:00:00.000 +0200', 59.49),
 (329, '2006-04-21 17:00:00.000 +0200', 63.42000000000001),
 (330, '2006-04-21 18:00:00.000 +0200', 61.2),
 (331, '2006-04-21 19:00:00.000 +0200', 59.150000000000006),
 (332, '2006-04-21 20:00:00.000 +0200', 57.19),
 (333, '2006-04-21 21:00:00.000 +0200', 53.91),
 (334, '2006-04-21 22:00:00.000 +0200', 51.96000000000001),
 (335, '2006-04-21 23:00:00.000 +0200', 51.97),
 (336, '2006-04-22 00:00:00.000 +0200', 49.79),
 (337, '2006-04-22 01:00:00.000 +0200', 48.84),
 (338, '2006-04-22 02:00:00.000 +0200', 49.75),
 (339, '2006-04-22 03:00:00.000 +0200', 46.89),
 (340, '2006-04-22 04:00:00.000 +0200', 47.96),
 (341, '2006-04-22 05:00:00.000 +0200', 47.87),
 (342, '2006-04-22 06:00:00.000 +0200', 44.88),
 (343, '2006-04-22 07:00:00.000 +0200', 47.93000000000001),
 (344, '2006-04-22 08:00:00.000 +0200', 52.12),
 (345, '2006-04-22 09:00:00.000 +0200', 54.3),
 (346, '2006-04-22 10:00:00.000 +0200', 57.46000000000001),
 (347, '2006-04-22 11:00:00.000 +0200', 62.78),
 (348, '2006-04-22 12:00:00.000 +0200', 66.09),
 (349, '2006-04-22 13:00:00.000 +0200', 64.25),
 (350, '2006-04-22 14:00:00.000 +0200', 67.97),
 (351, '2006-04-22 15:00:00.000 +0200', 68.13),
 (352, '2006-04-22 16:00:00.000 +0200', 68.13),
 (353, '2006-04-22 17:00:00.000 +0200', 68.15),
 (354, '2006-04-22 18:00:00.000 +0200', 66.36),
 (355, '2006-04-22 19:00:00.000 +0200', 63.41),
 (356, '2006-04-22 20:00:00.000 +0200', 60.02000000000001),
 (357, '2006-04-22 21:00:00.000 +0200', 54.49000000000001),
 (358, '2006-04-22 22:00:00.000 +0200', 54.04),
 (359, '2006-04-22 23:00:00.000 +0200', 52.55),
 (360, '2006-04-23 00:00:00.000 +0200', 51.0),
 (361, '2006-04-23 01:00:00.000 +0200', 50.84),
 (362, '2006-04-23 02:00:00.000 +0200', 50.45),
 (363, '2006-04-23 03:00:00.000 +0200', 48.84),
 (364, '2006-04-23 04:00:00.000 +0200', 46.96),
 (365, '2006-04-23 05:00:00.000 +0200', 47.86),
 (366, '2006-04-23 06:00:00.000 +0200', 47.72),
 (367, '2006-04-23 07:00:00.000 +0200', 53.47999999999999),
 (368, '2006-04-23 08:00:00.000 +0200', 58.13),
 (369, '2006-04-23 09:00:00.000 +0200', 65.72),
 (370, '2006-04-23 10:00:00.000 +0200', 68.05000000000001),
 (371, '2006-04-23 11:00:00.000 +0200', 69.87),
 (372, '2006-04-23 12:00:00.000 +0200', 69.33),
 (373, '2006-04-23 13:00:00.000 +0200', 72.17000000000002),
 (374, '2006-04-23 14:00:00.000 +0200', 71.8),
 (375, '2006-04-23 15:00:00.000 +0200', 72.91999999999999),
 (376, '2006-04-23 16:00:00.000 +0200', 73.0),
 (377, '2006-04-23 17:00:00.000 +0200', 70.19),
 (378, '2006-04-23 18:00:00.000 +0200', 68.33),
 (379, '2006-04-23 19:00:00.000 +0200', 64.42),
 (380, '2006-04-23 20:00:00.000 +0200', 63.36),
 (381, '2006-04-23 21:00:00.000 +0200', 57.13),
 (382, '2006-04-23 22:00:00.000 +0200', 55.92),
 (383, '2006-04-23 23:00:00.000 +0200', 54.18000000000001),
 (384, '2006-04-24 00:00:00.000 +0200', 52.00999999999999),
 (385, '2006-04-24 01:00:00.000 +0200', 50.96000000000001),
 (386, '2006-04-24 02:00:00.000 +0200', 54.29),
 (387, '2006-04-24 03:00:00.000 +0200', 49.75),
 (388, '2006-04-24 04:00:00.000 +0200', 47.97),
 (389, '2006-04-24 05:00:00.000 +0200', 47.61),
 (390, '2006-04-24 06:00:00.000 +0200', 45.84),
 (391, '2006-04-24 07:00:00.000 +0200', 51.64),
 (392, '2006-04-24 08:00:00.000 +0200', 58.71000000000001),
 (393, '2006-04-24 09:00:00.000 +0200', 65.84),
 (394, '2006-04-24 10:00:00.000 +0200', 69.97),
 (395, '2006-04-24 11:00:00.000 +0200', 71.65),
 (396, '2006-04-24 12:00:00.000 +0200', 73.09),
 (397, '2006-04-24 13:00:00.000 +0200', 73.25),
 (398, '2006-04-24 14:00:00.000 +0200', 75.05000000000001),
 (399, '2006-04-24 15:00:00.000 +0200', 75.04),

In [12]:
cur.execute("PRAGMA table_info('info')").fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'Formatted Date', 'TEXT', 0, None, 0),
 (2, 'Temperature (F)', 'REAL', 0, None, 0)]

In [13]:
diff_10 = cur.execute("""with myItems as (select *, "Temperature (F)" - lag("Temperature (F)", 1)
               over(order by "index") as val2 from info)
               select * from myItems WHERE val2 > 10""").fetchall()
diff_10

[(720, '2006-08-01 00:00:00.000 +0200', 69.83, 19.58),
 (1490, '2006-12-10 02:00:00.000 +0100', 47.12, 10.379999999999995),
 (1730, '2006-12-02 02:00:00.000 +0100', 43.0, 11.52),
 (1993, '2006-12-03 01:00:00.000 +0100', 39.1, 10.940000000000001),
 (2496, '2006-02-20 00:00:00.000 +0100', 40.21, 16.04),
 (3122, '2006-01-19 02:00:00.000 +0100', 36.08, 11.659999999999997),
 (3144, '2006-01-02 00:00:00.000 +0100', 41.76, 18.639999999999997),
 (3218, '2006-01-22 02:00:00.000 +0100', 33.05, 18.119999999999997),
 (3361, '2006-01-28 01:00:00.000 +0100', 28.61, 10.86),
 (3624, '2006-07-01 00:00:00.000 +0200', 64.0, 34.3),
 (3655, '2006-07-10 07:00:00.000 +0200', 71.43, 10.460000000000008),
 (3943, '2006-07-21 07:00:00.000 +0200', 72.74000000000001, 10.56000000000001),
 (4656,
  '2006-06-20 00:00:00.000 +0200',
  70.80000000000001,
  18.710000000000008),
 (4920, '2006-06-30 00:00:00.000 +0200', 67.91, 14.79),
 (5401, '2006-03-21 01:00:00.000 +0100', 46.26, 10.559999999999995),
 (5450, '2006-03-23 02:00:00.000 +0100', 47.83, 12.11),
 (5616, '2006-03-03 01:00:00.000 +0100', 36.7, 12.400000000000002),
 (5639, '2006-03-30 00:00:00.000 +0200', 48.84, 10.050000000000004),
 (5713, '2006-03-05 02:00:00.000 +0100', 48.0, 13.689999999999998),
 (5831, '2006-05-01 00:00:00.000 +0200', 54.92, 18.840000000000003),
 (6601, '2006-11-10 02:00:00.000 +0100', 45.92, 14.05),
 (6841, '2006-11-02 02:00:00.000 +0100', 42.91, 11.289999999999996),
 (6863, '2006-11-20 00:00:00.000 +0100', 45.75, 16.84),
 (7127, '2006-11-30 00:00:00.000 +0100', 41.66, 14.709999999999997),
 (7176, '2006-11-05 01:00:00.000 +0100', 45.03, 10.86),
 (7225, '2006-11-07 02:00:00.000 +0100', 47.04, 10.519999999999996),
 (7295, '2006-10-01 00:00:00.000 +0200', 57.67, 10.719999999999999),
 (7424,
  '2006-10-14 09:00:00.000 +0200',
  56.50999999999999,
  11.019999999999989),
 (7559, '2006-10-02 00:00:00.000 +0200', 59.7, 17.580000000000005),
 (7850, '2006-10-30 02:00:00.000 +0100', 52.96000000000001, 19.02000000000001),
 (7896,
  '2006-10-04 00:00:00.000 +0200',
  63.800000000000004,
  29.840000000000003),
 (8040, '2010-08-02 00:00:00.000 +0200', 65.84, 16.610000000000007),
 (8144,
  '2006-09-12 08:00:00.000 +0200',
  58.019999999999996,
  10.139999999999993),
 (9008, '2007-04-18 08:00:00.000 +0200', 56.52, 10.450000000000003),
 (9152, '2007-04-23 08:00:00.000 +0200', 53.01, 12.369999999999997),
 (9224, '2007-04-26 08:00:00.000 +0200', 56.53, 10.400000000000006),
 (9528, '2007-08-10 00:00:00.000 +0200', 71.72, 12.789999999999992),
 (10512, '2007-12-02 00:00:00.000 +0100', 34.01, 11.969999999999999),
 (10776, '2007-12-03 00:00:00.000 +0100', 38.04, 16.08),
 (10848, '2007-12-04 00:00:00.000 +0100', 42.13, 19.26),
 (11017, '2007-02-10 01:00:00.000 +0100', 43.12, 11.009999999999998),
 (11305, '2007-02-21 01:00:00.000 +0100', 45.49, 10.240000000000002),
 (11473, '2007-02-28 01:00:00.000 +0100', 46.6, 13.18),
 (11642, '2007-02-09 02:00:00.000 +0100', 47.21, 10.630000000000003),
 (11881,
  '2007-01-18 01:00:00.000 +0100',
  49.93000000000001,
  15.970000000000006),
 (11952, '2007-01-20 00:00:00.000 +0100', 47.09, 11.970000000000006),
 (11954, '2007-01-20 02:00:00.000 +0100', 48.92, 10.480000000000004),
 (12050, '2007-01-24 02:00:00.000 +0100', 47.49, 11.810000000000002),
 (12408, '2007-07-01 00:00:00.000 +0200', 58.84, 16.630000000000003),
 (12435, '2007-07-10 03:00:00.000 +0200', 67.59, 11.159999999999997),
 (12674, '2007-07-02 02:00:00.000 +0200', 71.4, 10.180000000000007),
 (12895, '2007-07-28 07:00:00.000 +0200', 72.56, 11.25),
 (13399, '2007-06-19 07:00:00.000 +0200', 74.39, 10.379999999999995),
 (14138, '2007-03-02 02:00:00.000 +0100', 50.81, 10.530000000000001),
 (14473, '2007-03-04 02:00:00.000 +0100', 46.09, 10.870000000000005),
 (14504, '2007-03-05 09:00:00.000 +0100', 44.75, 10.75),
 (14527, '2007-03-06 08:00:00.000 +0100', 45.68, 11.46),
 (15887, '2007-11-03 00:00:00.000 +0100', 45.53, 17.75),
 (15935, '2007-11-04 00:00:00.000 +0100', 45.32, 18.06),
 (16079,
  '2007-10-01 00:00:00.000 +0200',
  53.760000000000005,
  12.800000000000004),
 (16178, '2007-10-13 03:00:00.000 +0200', 50.86, 12.450000000000003),
 (16297, '2007-10-18 02:00:00.000 +0200', 49.11, 11.399999999999999),
 (16304, '2007-10-18 09:00:00.000 +0200', 44.68, 10.14),
 (16343, '2007-10-02 00:00:00.000 +0200', 52.84, 14.82),
 (16824, '2007-09-01 00:00:00.000 +0200', 63.92, 10.93),
 (17088, '2007-09-02 00:00:00.000 +0200', 60.91, 12.699999999999996),
 (17144, '2007-09-21 08:00:00.000 +0200', 48.88, 10.200000000000003),
 (17168,
  '2007-09-22 08:00:00.000 +0200',
  49.00999999999999,
  12.039999999999992),
 (17192, '2007-09-23 08:00:00.000 +0200', 51.0, 10.240000000000002),
 (17672,
  '2008-04-14 08:00:00.000 +0200',
  50.99000000000001,
  10.040000000000006),
 (17832, '2008-04-20 00:00:00.000 +0200', 54.36, 11.030000000000001),
 (18264,
  '2008-08-01 00:00:00.000 +0200',
  69.67000000000002,
  15.570000000000007),
 (18435,
  '2008-08-16 03:00:00.000 +0200',
  82.54999999999998,
  19.619999999999983),
 (19536, '2008-12-03 00:00:00.000 +0100', 42.12, 19.159999999999997),
 (19608, '2008-12-04 00:00:00.000 +0100', 41.76, 17.72),
 (19658, '2008-12-06 02:00:00.000 +0100', 53.75, 10.030000000000001),
 (19898, '2008-02-15 02:00:00.000 +0100', 34.0, 11.68),
 (19969, '2008-02-18 01:00:00.000 +0100', 33.2, 10.070000000000007),
 (20123,
  '2008-02-23 11:00:00.000 +0100',
  58.68000000000001,
  10.690000000000005),
 (20257, '2008-02-29 01:00:00.000 +0100', 45.85, 10.18),
 (20736, '2008-01-20 00:00:00.000 +0100', 43.09, 17.130000000000003),
 (20810, '2008-01-23 02:00:00.000 +0100', 37.87, 10.689999999999998),
 (20930, '2008-01-28 02:00:00.000 +0100', 40.99, 13.590000000000003),
 (21000, '2008-01-30 00:00:00.000 +0100', 34.0, 10.299999999999997),
 (21192, '2008-07-01 00:00:00.000 +0200', 68.58, 39.66),
 (22825, '2008-03-16 01:00:00.000 +0100', 49.33, 13.129999999999995),
 (22874, '2008-03-18 02:00:00.000 +0100', 42.87, 10.29),
 (22920, '2008-03-02 00:00:00.000 +0100', 44.21, 14.02),
 (22969, '2008-03-21 01:00:00.000 +0100', 42.33, 14.239999999999998),
 (23113, '2008-03-27 01:00:00.000 +0100', 43.95, 11.120000000000005),
 (23399, '2008-05-01 00:00:00.000 +0200', 56.0, 13.11),
 (23502,
  '2008-05-13 07:00:00.000 +0200',
  56.46000000000001,
  10.670000000000009),
 (23687, '2008-05-20 00:00:00.000 +0200', 64.75, 15.64),
 (23951, '2008-05-30 00:00:00.000 +0200', 62.74, 12.649999999999999),
 (24102, '2008-05-08 07:00:00.000 +0200', 51.48, 10.549999999999997),
 (24407,
  '2008-11-02 00:00:00.000 +0100',
  55.71000000000001,
  16.580000000000005),
 (24671, '2008-11-03 00:00:00.000 +0100', 50.17, 10.29),
 (25058,
  '2008-10-17 03:00:00.000 +0200',
  62.03999999999999,
  17.069999999999993),
 (25127, '2008-10-02 00:00:00.000 +0200', 60.0, 15.909999999999997),
 (25569, '2008-10-08 09:00:00.000 +0200', 62.34, 10.620000000000005),
 (25707,
  '2008-09-13 03:00:00.000 +0200',
  61.870000000000005,
  10.600000000000009),
 (25872, '2008-09-02 00:00:00.000 +0200', 61.59, 14.160000000000004),
 (26136, '2008-09-03 00:00:00.000 +0200', 62.55, 14.029999999999987),
 (26184, '2008-09-04 00:00:00.000 +0200', 67.08, 16.689999999999998),
 (26283,
  '2008-09-08 03:00:00.000 +0200',
  72.42000000000002,
  11.430000000000007),
 (26498, '2009-04-16 02:00:00.000 +0200', 54.66, 10.659999999999997),
 (26523, '2009-04-17 03:00:00.000 +0200', 58.0, 10.939999999999998),
 (26714, '2009-04-24 02:00:00.000 +0200', 52.41, 11.409999999999997),
 (27048, '2009-08-01 00:00:00.000 +0200', 70.0, 16.28),
 (27411, '2009-08-23 03:00:00.000 +0200', 70.0, 10.979999999999997),
 (27576, '2009-08-03 00:00:00.000 +0200', 80.0, 14.25),
 (27648, '2009-08-04 00:00:00.000 +0200', 81.0, 22.0),
 (28056, '2009-12-02 00:00:00.000 +0100', 47.0, 28.0),
 (28082, '2009-12-20 02:00:00.000 +0100', 19.0, 12.660000000000004),
 (28105, '2009-12-21 01:00:00.000 +0100', 21.64, 19.640000000000004),
 (28129, '2009-12-22 01:00:00.000 +0100', 35.26, 10.259999999999998),
 (28177, '2009-12-24 01:00:00.000 +0100', 50.1, 12.100000000000001),
 (28345,
  '2009-12-30 01:00:00.000 +0100',
  48.730000000000004,
  11.730000000000004),
 (28800, '2009-02-02 00:00:00.000 +0100', 36.0, 12.0),
 (29496, '2009-01-20 00:00:00.000 +0100', 38.0, 13.0),
 (29665, '2009-01-27 01:00:00.000 +0100', 40.69, 11.689999999999998),
 (29760, '2009-01-30 00:00:00.000 +0100', 36.0, 19.0),
 (29906, '2009-01-08 02:00:00.000 +0100', 24.0, 11.879999999999999),
 (29952, '2009-07-01 00:00:00.000 +0200', 66.0, 54.0),
 (30171, '2009-07-18 03:00:00.000 +0200', 71.0, 10.57),
 (30439, '2009-07-28 07:00:00.000 +0200', 68.0, 11.0),
 (30698, '2009-06-01 02:00:00.000 +0200', 57.22, 10.219999999999999),
 (30823, '2009-06-14 07:00:00.000 +0200', 66.0, 11.0),
 (30984, '2009-06-20 00:00:00.000 +0200', 72.0, 15.439999999999998),
 (31248, '2009-06-30 00:00:00.000 +0200', 65.0, 13.0),
 (31298, '2009-06-05 02:00:00.000 +0200', 58.54, 13.54),
 (31561, '2009-03-15 01:00:00.000 +0100', 42.75, 11.75),
 (31897,
  '2009-03-28 01:00:00.000 +0100',
  52.099999999999994,
  13.099999999999994),
 (31967, '2009-03-30 00:00:00.000 +0200', 56.0, 14.0),
 (32159, '2009-05-01 00:00:00.000 +0200', 52.0, 11.0),
 (32447, '2009-05-20 00:00:00.000 +0200', 64.0, 11.060000000000002),
 (32666, '2009-05-29 03:00:00.000 +0200', 56.0, 10.130000000000003),
 (32809,
  '2009-05-06 02:00:00.000 +0200',
  56.50999999999999,
  11.509999999999991),
 (32834, '2009-05-07 03:00:00.000 +0200', 58.0, 10.159999999999997),
 (32927, '2009-11-10 00:00:00.000 +0100', 51.0, 21.0),
 (33385, '2009-11-28 02:00:00.000 +0100', 48.0, 11.04),
 (33674, '2009-10-11 03:00:00.000 +0200', 59.0, 10.450000000000003),
 (33887, '2009-10-02 00:00:00.000 +0200', 60.0, 16.090000000000003),
 (34944, '2009-09-04 00:00:00.000 +0200', 74.0, 20.599999999999994),
 (35306, '2010-04-18 02:00:00.000 +0200', 51.33, 11.329999999999998),
 (35808, '2010-08-01 00:00:00.000 +0200', 66.85, 15.569999999999993),
 (36336, '2010-08-03 00:00:00.000 +0200', 66.86, 15.229999999999997),
 (36408,
  '2010-08-04 00:00:00.000 +0200',
  70.42000000000002,
  16.37000000000002),
 (36816, '2010-12-02 00:00:00.000 +0100', 38.55, 17.999999999999996),
 (36841, '2010-12-20 01:00:00.000 +0100', 31.8, 11.120000000000001),
 (36962, '2010-12-25 02:00:00.000 +0100', 47.79, 14.64),
 (37010, '2010-12-27 02:00:00.000 +0100', 24.96, 13.280000000000001),
 (37033, '2010-12-28 01:00:00.000 +0100', 18.32, 10.620000000000001),
 (37080, '2010-12-03 00:00:00.000 +0100', 35.83, 19.090000000000003),
 (37152, '2010-12-04 00:00:00.000 +0100', 36.54, 17.369999999999997),
 (37201, '2010-12-06 01:00:00.000 +0100', 41.74, 10.860000000000003),
 (37274, '2010-12-09 02:00:00.000 +0100', 53.96, 17.11),
 (37584, '2010-02-20 00:00:00.000 +0100', 48.69, 36.559999999999995),
 (37586, '2010-02-20 02:00:00.000 +0100', 47.48, 11.329999999999998),
 (37754, '2010-02-27 02:00:00.000 +0100', 45.92, 11.350000000000001),
 (37801, '2010-02-03 01:00:00.000 +0100', 30.78, 17.060000000000002),
 (37968, '2010-01-01 00:00:00.000 +0100', 49.0, 23.62),
 (38232, '2010-01-02 00:00:00.000 +0100', 42.96, 13.880000000000003),
 (38234, '2010-01-02 02:00:00.000 +0100', 42.75, 10.479999999999997),
 (38665, '2010-01-08 01:00:00.000 +0100', 46.51, 14.599999999999998),
 (38712, '2010-07-01 00:00:00.000 +0200', 70.88, 25.159999999999997),
 (39480, '2010-06-10 00:00:00.000 +0200', 67.09, 12.439999999999998),
 (40008, '2010-06-30 00:00:00.000 +0200', 66.71, 10.629999999999995),
 (40727, '2010-03-30 00:00:00.000 +0200', 51.79, 18.75),
 (40919, '2010-05-01 00:00:00.000 +0200', 59.5, 29.63),
 (42144, '2010-11-28 01:00:00.000 +0100', 39.14, 10.14),
 (42191, '2010-11-03 00:00:00.000 +0100', 44.79, 12.490000000000002),
 (42649,
  '2010-10-02 02:00:00.000 +0200',
  50.52000000000001,
  10.850000000000009),
 (42911, '2010-10-03 00:00:00.000 +0200', 52.74, 18.36),
 (43128, '2010-09-01 00:00:00.000 +0200', 53.95, 12.780000000000001),
 (43731,
  '2010-09-05 03:00:00.000 +0200',
  58.71000000000001,
  10.31000000000001),
 (43947, '2011-04-13 03:00:00.000 +0200', 51.91, 10.86),
 (44432,
  '2011-04-04 08:00:00.000 +0200',
  51.150000000000006,
  10.390000000000008),
 (44498, '2011-04-07 02:00:00.000 +0200', 62.07, 10.020000000000003),
 (44523, '2011-04-08 03:00:00.000 +0200', 65.91, 10.680000000000007),
 (44547,
  '2011-04-09 03:00:00.000 +0200',
  57.93000000000001,
  15.02000000000001),
 (44671, '2011-08-13 07:00:00.000 +0200', 65.35, 11.169999999999987),
 (44856, '2011-08-20 00:00:00.000 +0200', 74.68, 11.790000000000006),
 (44859, '2011-08-20 03:00:00.000 +0200', 69.68, 13.70000000000001),
 (45128, '2011-08-30 08:00:00.000 +0200', 70.59, 11.57),
 (45336, '2011-12-10 00:00:00.000 +0100', 41.25, 14.170000000000002),
 (45506, '2011-12-17 02:00:00.000 +0100', 47.91, 11.219999999999999),
 (45912, '2011-12-04 00:00:00.000 +0100', 44.69, 16.979999999999997),
 (46105, '2011-02-11 01:00:00.000 +0100', 38.41, 12.529999999999998),
 (46130, '2011-02-12 02:00:00.000 +0100', 44.13, 15.830000000000002),
 (46344, '2011-02-20 00:00:00.000 +0100', 37.87, 14.850000000000001),
 (46537, '2011-02-28 01:00:00.000 +0100', 27.33, 11.529999999999998),
 (46752, '2011-01-10 00:00:00.000 +0100', 39.22, 16.92),
 (47016, '2011-01-20 00:00:00.000 +0100', 37.88, 13.910000000000004),
 (47377, '2011-01-06 01:00:00.000 +0100', 31.19, 12.940000000000001),
 (47472, '2011-07-01 00:00:00.000 +0200', 63.88, 22.82),
 (47496,
  '2011-07-10 00:00:00.000 +0200',
  70.17000000000002,
  12.990000000000023),
 (47671, '2011-07-17 07:00:00.000 +0200', 67.69, 10.719999999999999),
 (47760, '2011-07-20 00:00:00.000 +0200', 81.22, 30.289999999999992),
 (47763, '2011-07-20 03:00:00.000 +0200', 74.38, 11.5),
 (48459, '2011-06-19 03:00:00.000 +0200', 67.62, 11.969999999999999),
 (48480,
  '2011-06-02 00:00:00.000 +0200',
  65.70999999999998,
  10.539999999999978),
 (48627,
  '2011-06-25 03:00:00.000 +0200',
  61.78999999999999,
  10.569999999999993),
 (48961, '2011-03-10 01:00:00.000 +0100', 33.43, 10.300000000000004),
 (49487, '2011-03-30 00:00:00.000 +0200', 41.71, 11.54),
 (49679, '2011-05-01 00:00:00.000 +0200', 56.0, 31.84),
 (50951, '2011-11-03 00:00:00.000 +0100', 40.5, 12.41),
 (51000, '2011-11-04 01:00:00.000 +0100', 44.38, 12.280000000000001),
 (51143,
  '2011-10-01 00:00:00.000 +0200',
  52.96000000000001,
  14.280000000000008),
 (51368, '2011-10-18 09:00:00.000 +0200', 40.39, 12.77),
 (51385, '2011-10-19 02:00:00.000 +0200', 48.55, 13.79),
 (51671, '2011-10-03 00:00:00.000 +0200', 51.05, 11.509999999999998),
 (51744, '2011-10-04 00:00:00.000 +0200', 50.0, 14.04),
 (51752, '2011-10-04 08:00:00.000 +0200', 53.6, 10.420000000000002),
 (51888,
  '2011-09-01 00:00:00.000 +0200',
  57.96000000000001,
  13.63000000000001),
 (52016, '2011-09-14 08:00:00.000 +0200', 71.51, 10.620000000000005),
 (52448, '2011-09-30 08:00:00.000 +0200', 56.3, 10.339999999999996),
 (53095, '2012-04-28 07:00:00.000 +0200', 63.0, 11.0),
 (53328, '2012-08-01 00:00:00.000 +0200', 67.84, 35.68000000000001),
 (53479, '2012-08-15 07:00:00.000 +0200', 58.62, 10.379999999999995),
 (53624, '2012-08-20 08:00:00.000 +0200', 74.12, 10.379999999999995),
 (53648, '2012-08-21 08:00:00.000 +0200', 80.32, 12.620000000000005),
 (55104, '2012-02-20 00:00:00.000 +0100', 34.0, 20.0),
 (55512, '2012-01-01 00:00:00.000 +0100', 26.79, 26.79),
 (56040, '2012-01-03 00:00:00.000 +0100', 37.0, 17.0),
 (56112, '2012-01-04 00:00:00.000 +0100', 33.0, 16.0),
 (56256,
  '2012-07-01 00:00:00.000 +0200',
  76.92000000000002,
  39.920000000000016),
 (56520, '2012-07-02 00:00:00.000 +0200', 79.35, 10.649999999999991),
 (57223, '2012-06-18 07:00:00.000 +0200', 76.31, 10.460000000000008),
 (57944, '2012-03-18 08:00:00.000 +0100', 55.0, 10.219999999999999),
 (58040, '2012-03-21 08:00:00.000 +0100', 54.0, 10.869999999999997),
 (58136, '2012-03-25 09:00:00.000 +0200', 57.0, 11.219999999999999),
 (58271, '2012-03-30 00:00:00.000 +0200', 50.0, 17.0),
 (58463, '2012-05-01 00:00:00.000 +0200', 65.0, 37.0),
 (59471, '2012-11-02 00:00:00.000 +0100', 49.09, 12.25),
 (59927, '2012-10-01 00:00:00.000 +0200', 64.84, 25.46),
 (60191, '2012-10-02 00:00:00.000 +0200', 66.71, 13.449999999999996),
 (60456, '2012-10-03 00:00:00.000 +0200', 59.84, 22.0),
 (60528, '2012-10-04 00:00:00.000 +0200', 52.72, 12.019999999999996),
 (60672, '2012-09-01 00:00:00.000 +0200', 74.39, 25.78),
 (61784,
  '2013-04-24 08:00:00.000 +0200',
  62.120000000000005,
  10.260000000000005),
 (61944, '2013-04-30 00:00:00.000 +0200', 63.89, 24.97),
 (62112, '2013-08-01 00:00:00.000 +0200', 63.09, 15.46),
 (62215, '2013-08-13 07:00:00.000 +0200', 67.53, 10.350000000000009),
 (62712, '2013-08-04 00:00:00.000 +0200', 72.85, 16.539999999999992),
 (62767, '2013-08-06 07:00:00.000 +0200', 76.27, 12.349999999999994),
 (62880, '2013-12-10 00:00:00.000 +0100', 44.99, 16.020000000000003),
 (63605, '2013-02-01 05:00:00.000 +0100', 45.04, 10.04),
 (65016, '2013-07-01 00:00:00.000 +0200', 58.67, 33.510000000000005),
 (65239, '2013-07-18 07:00:00.000 +0200', 69.4, 10.550000000000011),
 (65407, '2013-07-24 07:00:00.000 +0200', 69.35, 12.339999999999996),
 (65479, '2013-07-27 07:00:00.000 +0200', 74.43, 10.510000000000005),
 (65568, '2013-07-30 00:00:00.000 +0200', 80.25, 18.6),
 (66048, '2013-06-20 00:00:00.000 +0200', 73.8, 18.209999999999994),
 (66504, '2013-03-10 00:00:00.000 +0100', 49.87, 11.96),
 (67111, '2013-03-05 08:00:00.000 +0100', 38.64, 11.719999999999999),
 (67223, '2013-05-01 00:00:00.000 +0200', 67.84, 17.050000000000004),
 (68495, '2013-11-03 00:00:00.000 +0100', 57.04, 24.949999999999996),
 (68543, '2013-11-04 00:00:00.000 +0100', 48.01, 20.889999999999997),
 (69240,
  '2013-10-30 00:00:00.000 +0100',
  54.870000000000005,
  18.770000000000003),
 (69393, '2013-10-08 09:00:00.000 +0200', 53.83, 10.39),
 (70040, '2013-09-05 08:00:00.000 +0200', 59.8, 11.79),
 (70832, '2014-04-08 08:00:00.000 +0200', 51.35, 10.259999999999998),
 (70872, '2014-08-01 00:00:00.000 +0200', 68.76, 24.67),
 (71400, '2014-08-03 00:00:00.000 +0200', 67.88, 11.579999999999998),
 (72144, '2014-12-03 00:00:00.000 +0100', 39.79, 20.79),
 (72216, '2014-12-04 00:00:00.000 +0100', 40.96, 31.73),
 (72384, '2014-02-10 00:00:00.000 +0100', 45.42, 15.5),
 (72648, '2014-02-20 00:00:00.000 +0100', 45.92, 19.060000000000002),
 (73320,
  '2014-01-20 00:00:00.000 +0100',
  48.96000000000001,
  13.050000000000011),
 (73560, '2014-01-03 00:00:00.000 +0100', 35.99, 14.020000000000003),
 (73632, '2014-01-04 00:00:00.000 +0100', 38.97, 17.009999999999998),
 (73776, '2014-07-01 00:00:00.000 +0200', 58.21, 23.08),
 (74380, '2014-07-04 07:00:00.000 +0200', 65.4, 10.680000000000007),
 (75069, '2014-06-30 00:00:00.000 +0200', 72.0, 15.189999999999998),
 (75196, '2014-06-08 07:00:00.000 +0200', 69.68, 10.660000000000004),
 (77708, '2014-10-02 00:00:00.000 +0200', 60.96, 14.43999999999999),
 (77973, '2014-10-03 00:00:00.000 +0200', 57.05, 11.169999999999995),
 (78045, '2014-10-04 00:00:00.000 +0200', 55.92, 20.840000000000003),
 (78189, '2014-09-01 00:00:00.000 +0200', 68.71, 10.659999999999997),
 (78717, '2014-09-03 00:00:00.000 +0200', 64.93, 17.110000000000007),
 (78765, '2014-09-04 00:00:00.000 +0200', 68.0, 16.46),
 (78941, '2015-04-10 08:00:00.000 +0200', 47.03, 10.520000000000003),
 (79276,
  '2015-04-23 07:00:00.000 +0200',
  49.27000000000001,
  10.56000000000001),
 (79629, '2015-08-01 00:00:00.000 +0200', 55.01, 12.36),
 (79685, '2015-08-11 08:00:00.000 +0200', 77.7, 10.019999999999996),
 (80973, '2015-12-04 00:00:00.000 +0100', 41.04, 21.33),
 (81813, '2015-01-10 00:00:00.000 +0100', 44.16, 21.069999999999993),
 (82533,
  '2015-07-01 00:00:00.000 +0200',
  59.849999999999994,
  16.799999999999997),
 (84548, '2015-03-30 00:00:00.000 +0200', 45.17, 10.410000000000004),
 (84740, '2015-05-01 00:00:00.000 +0200', 53.0, 16.11),
 (85028, '2015-05-20 00:00:00.000 +0200', 65.09, 13.680000000000007),
 (85492, '2015-11-01 08:00:00.000 +0100', 42.34, 12.090000000000003),
 (85508, '2015-11-10 00:00:00.000 +0100', 54.88, 23.96),
 (85772, '2015-11-20 00:00:00.000 +0100', 44.9, 14.939999999999998),

In [14]:
all_row = cur.execute("select * from info ").fetchall()

In [15]:
for i in all_row:
    if i[0] == 720 or i[0] == 721 or i[0] == 719:
        print(i)

(719, '2006-04-09 23:00:00.000 +0200', 50.25)
(720, '2006-08-01 00:00:00.000 +0200', 69.83)
(721, '2006-08-01 01:00:00.000 +0200', 67.0)

In [16]:
import csv
diff_10.insert(0, ('index', 'Date', 'Temperature(f)', "Difference"))
with open("only_10(f)_diff.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(diff_10)

In [17]:
conn.close()

In [18]:
df_of_diff = pd.read_csv("only_10(f)_diff.csv")

In [19]:
df_of_diff.head()

   index                           Date  Temperature(f)  Difference
0    720  2006-08-01 00:00:00.000 +0200           69.83       19.58
1   1490  2006-12-10 02:00:00.000 +0100           47.12       10.38
2   1730  2006-12-02 02:00:00.000 +0100           43.00       11.52
3   1993  2006-12-03 01:00:00.000 +0100           39.10       10.94
4   2496  2006-02-20 00:00:00.000 +0100           40.21       16.04